<div align="center">
        <table style="font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:11px;color:#0000" border="0" cellpadding="0" cellspacing="0" width="618">
            <tbody>
                <tr>
                    <td align="left" valign="top" style="border:1px solid #bbd1eb;background-color:#6e3d7c">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                
                                <tr>
                                  <td style="width:15px"></td>  <td align="left" height="60" valign="middle">
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="border:1px solid #bbd1eb;border-top:none;padding-top:20px">
                        <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td align="left" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td align="left" valign="top" style="font-size:11px;padding:0 10px;color:#623b73;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif">
                                                <strong>Dear
                                                    
                                                    {CustomerName},</strong>
                                            </td>
                                            <td align="right" valign="middle" style="font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:11px;padding:0 10px">
                                                <strong style="color:#623b73">Date:</strong>  <strong style="color:#623b73">
                                                    {PaymentDate}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="left" valign="middle" style="font-size:13px">
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:8px">
                                        <tbody><tr>
                                            <td colspan="2" style="font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:11px;padding:0 10px;padding-bottom:10px;color:#6e6e6e">                                                
                                                Thank you for your payment. Please note it may take a few hours for our systems to update your booking to reflect the amount paid. Once your booking has been paid in full your documentation will be e-mailed to the e-mail provided at the time of booking. You can also download/print your documents from My Booking. 
                                            </td>
                                        </tr>
                                        
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td>
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background:#fbfdff;padding:10px;border-top:solid 2px #ccc;border-bottom:solid 2px #ccc">
                                                    <tbody><tr>
                                                        <td style="font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;text-align:justify;color:#363d4c;font-weight:bold" valign="top" colspan="2">
                                                            <span class="il">Payment</span> details:
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody><tr>
                                                                    <td width="43%" height="25" align="left" valign="middle" style="font-size:13px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif">
                                                                        Reference number:
                                                                    </td>
                                                                    <td width="57%" align="left" valign="middle" style="font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:12px">
                                                                        {ReferenceNumber}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="43%" height="25" align="left" valign="middle" style="font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px">
                                                                        Amount:
                                                                    </td>
                                                                    <td width="57%" align="left" valign="middle" style="font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px">
                                                                        €{Amount}
                                                                        (including card charges)
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="43%" height="25" align="left" valign="middle" style="font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px">
                                                                        Email address:
                                                                    </td>
                                                                    <td width="57%" align="left" valign="middle" style="font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px">
                                                                        <a href="mailto:{EmailAddress}" target="_blank">{EmailAddress}</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle">&nbsp;
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle">
                                    <p class="m_5033365134853138418pad5">
                                        <span style="font-size:11px;color:#909090">Yours Sincerely</span><br>
                                        Teletext Holidays
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle">&nbsp;
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle">
                                   
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" bgcolor="#6e3d7c"><table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#6e3d7c">
                                  <tbody><tr>
                                    <td width="67%" align="right" valign="top" style="padding:10px">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td colspan="6">
                                    
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="6" style="color:#fff;font-size:11px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;padding:10px">
                                    <p>For full terms and conditions please go to <a href="https://www.teletextholidays.ie/terms-and-conditions" style="color:#fff" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.teletextholidays.ie/&amp;source=gmail&amp;ust=1485274051351000&amp;usg=AFQjCNE4dBedeWoonc0M5nzlJrKFgDxIUA"> teletextholidays.ie/terms-<wbr>and-conditions</a></p>
                                    <p>Your holiday is financially protected by the Travel Trust Association (TTA) and is CAR protected under the CAA Flight Plus scheme. Each of your travel elements are booked seperately with the relevant supplies. We do not sell package holidays under the package travel regulations.</p>
									<p>Teletext Holidays.ie is a trading name of Truly Travel (IRE). Registered office and address for legal service of documents. Teletext Holidays, 5 Vine Street, Uxbridge, UB8 1BP. Registered in England No. 08514010. VAT Number 253 6750 94</p>
                                    </td>
                                  </tr>
                                </tbody></table>
                                    
                                </td>
                            </tr>
                          
                        </tbody></table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>